* {
    margin: 0;
    padding: 0;
    border: black solid 1px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 10px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.gallery img {
  max-width: 100%;
  height: auto;
  margin: 5px;
}