/* * {
    margin: 0;
    padding: 0;
    border: black solid 1px;
} */

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: #0b3269;
  color: white;
}

.dark-navbar {
  background-color: #0b3269 !important;
  color: white !important;
}

/* Style for paragraph of writing all about us */

.brand-blue-text {
    color: #0D47A1 !important;
}

.brand-blue-border-left {
    border-left: 6px solid #0D47A1;
    padding-left: 15px; /* Add space between the border and the text */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 10px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.imagePo {
 border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.imagePo:hover {opacity: 0.7;}


/* styling for the modal pop out */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
