* {
    margin: 0;
    padding: 0;
    border: black solid 1px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 10px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}



/* Styling to make the image pop out into a new box when clicked  */
.pop-up {
  opacity: 0.5;
  z-index: -1000;
} 

#hidecard {
    display: none;
}

.showcard {
    position: fixed;
    top: 0; /* Adjust top as needed */
    left: 0; /* Adjust left as needed */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
        }

